<div {{ attributes }}>
    <ul class="mt-4 grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5" id="page-{{ page }}" data-live-ignore="true">
        {% for movie in this.movies %}
            <li>
                <twig:MovieCard :movie="movie" />
            </li>
        {% endfor %}
    </ul>

    {% if this.hasMore %}
        <button
            class="flex justify-center items-center gap-2 mt-9 w-full relative bg-red-600 p-3 rounded-lg overflow-hidden border cursor-pointer transition hover:bg-red-700 text-white"
            data-action="live#action"
            data-live-action-param="more"
        >
            <svg class="h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
            </svg>
            <span class="capitalize font-medium text-md">Charger + de films</span>
        </button>
    {% endif %}
</div>
